ins {
	color: green;
}

label {
	display: block;
}

span {
	color: red;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

form[name="search"] > label, form[name="search"] > input {
	display: inline-block;
}

.pages > a {
	display: inline-block;
	padding: 0 3px;
	font-size: 32px;
}

.pages > .correntPage {
	font-size: 37px;
}